body {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: slateblue;

}

main {
    position: relative;
    width: 40vw;
    height: 65vh;
    margin: 5% auto;
    border-style: solid;
    border-width: 10px;
    border-radius: 25px;
    border-color: darkgray;
    background-color: lightgrey;
    box-shadow: 2px 2px 5px black;

}

#display {
    position: relative;
    width: 90%;
    height: 4em;
    margin: 10% auto;
    border-style: solid;
    border-width: 2px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#digit-display {
    position: absolute;
    width: 100%;
    height: 40%;
    bottom: 0;
    /*transform: translateY(0%);*/
    background-color: silver;
    text-align: right;
}

#operation-display {
    position: absolute;
    width: 15%;
    height: 20%;
    bottom: 0;
    transform: translateY(-100%);
    background-color: pink;
    text-align: left;
}

#controls {
    position: relative;
    width: 90%;
    height: 60%;
    margin: 5% auto;
    border-style: dotted;
    border-width: 1px;
    
}

#numerals {
    position: relative;
    width: 60%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 1px;
    float: left;
}

.disabled {
    background-color: grey;
    border-style: dashed;
}

#partition {
    position: relative;
    width: 17px;
    height: 100%;
    display: inline-block;
    background-color: grey;
    box-shadow: 0 0 3px silver;
    text-align: center;
}

#symbols {
    position: relative;
    width: 35%;
    height: 100%;
    float: right;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr) 30px;
    grid-template-areas: 
        "operations equals"
        "operations equals"
        "operations backspace"
        "operations backspace"
        "clear clear";
}

#operations {
    position: relative;
    width: 100%;
    height: 100%;
    grid-area: operations;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
}
/*
#add {
    grid-area: addition;
}

#subtract {
    grid-area: subtraction;
}

#multiply {
    grid-area: multiplication;
}

#divide {
    grid-area: division;
}*/

#equals {
    grid-area: equals;
}

#backspace {
    grid-area: backspace;
}

#clear {
    grid-area: clear
}